*{
    background-color: #ffbf75;
}
h1{
    color: orangered;
    font-size: 6rem;
    text-align: left;
}

/*Lado izquierdo*/
#info{
    width: 50%;
    margin: auto;
    float: left;
}
img{
    margin-left: 150px;
}
p{
    font-size: 22px;
}
#especificaciones{
    font-size: 22px;
}
#clase{
    font-size: 25px;
}
#n1{
    margin: 2px;
    font-size: 22px;
    color: #d94301;
}#n2{
    margin: 2px;
    font-size: 22px;
    color: #a7bfc7;
}

/*Lado derecho*/
#poder{
    width: 40%;
    margin: auto;
    float: left;
}
#velocidad{
    margin: 10px;
    font-weight: bold;
    border-color: rgb(221, 92, 135);
    border-style: solid;
    border-spacing: 1px;
}#fortaleza{
    margin: 10px;
    font-weight: bold;
    border-color: rgb(224, 47, 47);
    border-style: solid;
    border-spacing: 1px;
}#precision{
    margin: 10px;
    font-weight: bold;
    border-color: rgb(51, 92, 224);
    border-style: solid;
    border-spacing: 1px;
}#resistencia{
    margin: 10px;
    font-weight: bold;
    border-color: rgb(230, 194, 35);
    border-style: solid;
    border-spacing: 1px;
}#salto{
    margin: 10px;
    font-weight: bold;
    border-color: rgb(74, 197, 62);
    border-style: solid;
    border-spacing: 1px;
}#total{
    margin: 10px;
    font-weight: bold;
    border-color: black;
    border-style: dashed;
    border-spacing: 1px;
}

#debilidad{
    font-size: 25px;
}
#c1{
    margin: 2px;
    font-size: 22px;
    color: blue;
}#c2{
    margin: 2px;
    font-size: 22px;
    color: yellow;
}#c3{
    margin: 2px;
    font-size: 22px;
    color: grey;
}