/*INDEX*/

*{
    background-color: #9e9e9e;
}#TPrincipal{
    color: red;
    font-size: 12rem;
    margin-top: 1px;
    margin-left: 250px;
    margin-bottom: 1px;
} #informacion{
    font-size: 27px;
} li{
    font-size: 20px;
} #Evo{
    font-size: 25px;
} #Favs{
    font-size: 25px;
} #CuV{
    font-size: 25px;
}